<h1>Salut <%= current_user.username %></h1>
<section class="py-5 text-center container-fluid">
  <div class="row py-lg-5 backimg">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light" style="color:white;">Photos</h1>
      <p class="lead text-muted" style="color:white;">Partages tes photos en cliquant sur ...</p>
    </div>
    <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3"><%= link_to 'New Photo', new_photo_path %></button>
  </div>
</section>
<div class="d-flex">
  <% @photos.each do |photo| %>
    <div class="card-deck" style="height:auto; width:30vw">
      <div class="col">
        <div class="card shadow-sm">
          <p class="card-text"><%= photo.user.username %></p>
          <img src="<%= photo.url %>">
          <div class="card-body">
            <p class="card-text"><%= photo.title %></p>
            <p class="card-text"><%= photo.description %></p>
            <p class="card-text"><%= photo.camera %></p>
            <p class="card-text"><%= photo.aperture %></p>
            <p class="card-text"><%= photo.focal %></p>
            <p class="card-text"><%= photo.darkeningspeed %></p>
            <p class="card-text"><%= photo.tags %></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'View', photo %></button>
                <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Edit', edit_photo_path(photo) %></button>
                <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></button>
              </div>
              <small class="text-muted"><%= photo.place %></small>
              <small class="text-muted"><%= photo.situation %></small>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>
<%= link_to 'New Photo', new_photo_path %>
