<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Title</th>
      <th>Description</th>
      <th>Place</th>
      <th>Situation</th>
      <th>User</th>
      <th>Tags</th>
      <th>Camera</th>
      <th>Aperture</th>
      <th>Focal</th>
      <th>Darkeningspeed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><img src="<%= photo.url %>"></td>
        <td><%= photo.title %></td>
        <td><%= photo.description %></td>
        <td><%= photo.place %></td>
        <td><%= photo.situation %></td>
        <td><%= photo.user_id %></td>
        <td><%= photo.tags %></td>
        <td><%= photo.camera %></td>
        <td><%= photo.aperture %></td>
        <td><%= photo.focal %></td>
        <td><%= photo.darkeningspeed %></td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_photo_path %>
