<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @photo.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<p>
  <strong>Place:</strong>
  <%= @photo.place %>
</p>

<p>
  <strong>Situation:</strong>
  <%= @photo.situation %>
</p>

<p>
  <strong>User:</strong>
  <%= @photo.user_id %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @photo.tags %>
</p>

<p>
  <strong>Camera:</strong>
  <%= @photo.camera %>
</p>

<p>
  <strong>Aperture:</strong>
  <%= @photo.aperture %>
</p>

<p>
  <strong>Focal:</strong>
  <%= @photo.focal %>
</p>

<p>
  <strong>Darkeningspeed:</strong>
  <%= @photo.darkeningspeed %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
